<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	">
    <!--
        通过factorybean配置bean
        在配置bean时，需要其他的bean，那么使用factorybean就比较合适
        并且在我们配置各种框架和spring整合时，都能看到xxxxxfactorybean
    -->
    <bean id="car" class="com.chapter9.CarFactoryBean">
        <property name="name" value="宝马"/>
    </bean>


</beans>
